@tailwind base;
@tailwind components;
@tailwind utilities;

/* 

font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;


*/

body{
    font-family: 'Roboto', sans-serif;
}
.btn {
    padding: 15px 25px;
    background: #EDB81A;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-radius: 4px;
    font-family: 'Merriweather', serif;
}
@media only screen and (max-width: 768px) {
    /* ul.mt-4.space-y-2.border-t.border-gray-200.pt-4.first\:mt-0.first\:border-t-0.first\:pt-0.dark\:border-gray-700 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    } */
  }